/* 字体 */
@font-face{
    font-family:'tea' ;  /* 字体名自定义即可 */
    src:url('https://cdn.jsdelivr.net/gh/2x-ercha/cdn-for-try/fonts/xindi_tea_base.TTF'); /* 字体文件路径 */
    font-display : swap;
}

@font-face{
    font-family:'aqqxs' ;  /* 字体名自定义即可 */
    src:url('https://cdn.jsdelivr.net/gh/2x-ercha/cdn-for-try/fonts/FXAiQingQiXiangSuo.ttf'); /* 字体文件路径 */
    font-display : swap;
}

h1,h2,h3,h4,h5,h6,
a#site-name,span#subtitle,a.site-page,
a.title,
#aside-content,
a.article-sort-item-title,
a.article-title,
a.categoryBar-list-link,
a.blog-slider__title,
.article-sort-title,
.tag-cloud-title,
.category-title,
a.category-list-link {
    font-family: 'aqqxs', sans-serif;
}



/* 鼠标样式 */
body {
    cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/default.cur),
        default;
}
a,
img {
    cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/pointer.cur),
        default;
}

/* 首页磁帖 */
a.categoryBar-list-link {
    text-shadow: #0000001a 1px 0 0, #000000 0 1px 0, #000000 -1px 0 0, #00000000 0 -1px 0;
}

/* 卡片背景透明度颜色重写 */
:root {
  /* --card-bg: #fff; */
  --card-bg: #ffefefd9;
}

[data-theme="dark"] {
  /* --card-bg: #121212; */
  --card-bg: #12121288;
  --btn-hover-color: #787878;
  --btn-bg: #1f1f1f;
  --btn-hover-color: #ff3f3f;
  --btn-bg: #a153ff;
  /* --font-color: rgba(255,255,255,0.7); */
  /* --hr-border: rgba(255,255,255,0.4); */
  --font-color: rgb(255, 255, 255);
  --hr-border: rgb(161, 83, 255);
}

/* Twikoo评论框高度 */
.el-textarea__inner {
  /* min-height: 75px; */
  /* height: 75px; */
  min-height: 210px !important;
  height: 210px !important;
}


/* 页脚半透明 */
#footer {
    background: rgba(255,255,255,.15);
    color: #000;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    backdrop-filter: saturate(100%) blur(5px)
}

#footer::before {
    background: rgba(255,255,255,.15)
}

#footer #footer-wrap {
    color: var(--font-color);
}

#footer #footer-wrap a {
    color: var(--font-color);
}
