.footer-all {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-all .web-info {
  display: flex;
  font-family: 'aqqxs', sans-serif;
  background: var(--card-bg);
  box-shadow: var(--card-box-shadow);
  border-radius: 12px;
}
.footer-all .web-info .webinfo-item {
  margin: 0 0.5rem;
  text-align: center;
  font-size: 20px;
}
.footer-all #footer-wrap {
  max-width: 50%;
}
.footer-all #footer-wrap .copyright {
  margin: 0.2rem 0;
}
@media screen and (max-width: 920px) {
  .web-info {
    display: none !important;
  }
}
