#post-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#post-info .post-title {
  font-family: 'aqqxs', sans-serif;
  max-width: 20em;
  text-align: center;
  border-bottom: 0 !important;
  margin-bottom: -0.6rem;
}
#post-info .post-title:after {
  border-bottom: 1px solid #78818a;
  content: '';
  width: 10em;
  display: block;
  margin: 0.5em auto;
  height: 1px;
}
#post-info #post-meta {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.post-copyright {
  font-family: 'aqqxs', sans-serif;
  font-size: large;
}
.post-copyright .post-copyright__title {
  font-size: 28px;
}
#pagination {
  border-radius: 10px;
}
@media screen and (min-width: 500px) {
  .tag_share {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 500px) {
  .tag_share {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
[data-theme='dark'] .post-title:after {
  border-bottom: 1px solid var(--light-grey);
}
