#recent-posts .recent-post-item {
  border-radius: 12px;
}
#recent-posts .recent-post-item .recent-post-info span {
  margin-left: 0.3em;
}
#recent-posts .recent-post-item .recent-post-info .article-meta-wrap {
  color: #000;
}
#recent-posts .recent-post-item .recent-post-info .article-meta-wrap a {
  color: #000;
  margin-left: 0.3em;
}
#recent-posts .recent-post-item .recent-post-info .content {
  font-family: sans-serif;
}
@media screen and (min-width: 769px) {
  #recent-posts .recent-post-item .post_cover {
    border-radius: 10em 12px 12px 10em/10em 12px 12px 10em;
  }
  #recent-posts .recent-post-item .recent-post-info .article-title {
    font-size: 2em;
  }
}
[data-theme="dark"] #recent-posts .recent-post-item .article-meta-wrap {
  color: #e5e5e5;
}
[data-theme="dark"] #recent-posts .recent-post-item .article-meta-wrap a {
  color: #e5e5e5;
  margin-left: 0.3em;
}
[data-theme="dark"] #recent-posts .recent-post-item .content {
  color: #e5e5e5;
}
[data-theme="dark"] #recent-posts > .recent-post-item .post_cover img.post_bg {
  opacity: 0.35;
}
