nav#nav
  #nav-group
    span#blog_name
      a#site-name(href=url_for('/')) #[=config.title]
      
    #menus
      !=partial('includes/header/menu_item', {}, {cache: true})

    #navFn
      if (theme.algolia_search.enable || theme.local_search.enable)
        #search-button
          a.social-icon.search
            svg.icon(aria-hidden="true")
              use(xlink:href=`#`+ 'icon-sousuo')
            span=' 搜索'

      #darkmodeBt
        a.darkmode.switch
          svg.icon(aria-hidden="true")
            use(xlink:href=`#`+ 'icon-deng1')
          if (theme.display_mode == 'dark')
            span#darkmode-switch=' 开灯'
          else  
            span#darkmode-switch=' 关灯'

      #toggle-menu
        a.site-page
          svg.icon(aria-hidden="true")
            use(xlink:href=`#`+ 'icon-mulu')