/* 阿里矢量图标库 */
svg.icon
  width: 1.2rem
  height: 1.2rem
  /* width和height定义图标的默认宽度和高度*/
  vertical-align: -0.15rem
  fill: currentColor
  overflow: hidden

/* 头图透明 */
#page-header
  background: transparent!important
  /*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
  .post-bg:before
    background-color: transparent!important

#footer
  background: transparent!important
  #footer-wrap
    color #000
    a
      color #000

#nav
  #nav-group
    max-width: 1200px
    width: 100%
    display: flex
    margin-left: auto
    margin-right: auto
    /* 搜索与黑夜切换样式 */ 
    #search-button
      display: inline
      padding: 0 0 0 0.5rem 
      position: relative
      padding-bottom: 0.3rem
      text-shadow: 0.05rem 0.05rem 0.1rem rgb(0 0 0 / 30%)
      font-size: 0.78em
      cursor: pointer
    #darkmodeBt
      display: inline
      padding: 0 0 0 0.5rem 
      position: relative
      padding-bottom: 0.3rem
      text-shadow: 0.05rem 0.05rem 0.1rem rgb(0 0 0 / 30%)
      font-size: 0.78em
      cursor: pointer
    #toggle-menu
      padding: 0.1rem 0 0 0.5rem
    /* 元素布局 */
    #blog_name
      box-flex: 0.5
      flex: 0.5
    #navFn
      text-align: right
      box-flex: 0.5
      flex: 0.5
    /* 横向排布子菜单 */
    .menus_items
      .menus_item
        .menus_item_child
          border-radius: 0.625rem
          li
            display: inline-block
            &:hover
              background-color: rgb(85, 187, 255)
              border-radius: 0.625rem

#nav.hide-menu
  /* 手机模式开关灯字样隐藏 */
  #darkmodeBt
    span
      display: none !important

article.writeByhand
  font-family: 'writeByhand', sans-serif
  font-size: large


#sidebar
  #sidebar-menus
    background: linear-gradient(60deg, #ffd7e4 0%, #c8f1ff 100%)
    /* 手机侧栏菜单展开 信息、头像位置调整*/
    .site-data
      margin-top: 0.5rem
      /* 分类等字体加粗 */
      .headline
        font-size: 0.875rem
      .length-num
        font-size: 0.8rem !important
    #sidebar-avatar
      margin-top: 0.2rem
      /* 作者名 */
      .author-info__name
        font-weight: 500
        font-size: 1.57em
      .avatar-img
        img
          width: 110px
          height: 110px
          border-radius: 70px
          transition: all 0.5s
    /* 手机侧栏菜单展开 follow_me按钮*/
    #card-info-btn
      display: block
      margin: 0.3rem 1rem 0 1rem
      background-color: var(--btn-bg)
      color: var(--btn-color)
      text-align: center
      line-height: 2.4
      overflow: hidden
      border-radius: 0.625rem
    /* 手机侧栏菜单展开 社交图标 */
    .menu-info-social-icons
      margin: 0.5rem 0 0 0
      .social-icon
        display: inline
        padding: 0 0.7rem 0 0.7rem
    .simply-cha-top
      margin: 0 0 -3rem 0
      height: 4rem
      background: url("/img/simplycha-top.webp")
      background-size: contain
      background-repeat: no-repeat
      background-position: 100% 0%
    .simply-cha
      margin-top: -4rem
      height: 5rem
      background: url("/img/simplycha.webp")
      background-size: contain
      background-repeat: no-repeat
    .fas.fa-chevron-down.expand
      display: none

#site_social_icons
  display: none !important

#post-comment .comment-head
  margin: 1rem

[data-theme="dark"]
  /*夜间模式伪类遮罩层透明*/
  #footer
    #footer-wrap
      color #fff
      a
        color #fff
    &:before
      background: transparent!important
  #page-header
    &:before
      background: transparent!important
  /* 子菜单微调 */
  #nav
    .menus_items
      .menus_item
        .menus_item_child
          li
            &:hover
              background-color: rgb(34, 152, 231)
              border-radius: 0.625rem
  /* 侧栏菜单黑夜模式 */
  #sidebar
    #sidebar-menus
      background: linear-gradient(60deg, #2c0c16 0%, #043749 100%)
      

/* 存在手机侧栏菜单时，隐藏下侧内容（即侧边栏（900以上出现的bug不怎么影响了 */
@media screen and (max-width: 900px)
  #aside-content
    display: none


/* 字体样式引入 */
/*
@font-face
  font-family: 'aqqxs'
  src: url('https://cdn1.tianli0.top/gh/2x-ercha/cdn-for-try/fonts/FXAiQingQiXiangSuo.ttf')
  ont-display: swap
*/
.tag.link
  display: flex
  padding: 0.5em

#article-container img
  border-radius: 0.5rem
.img-alt
  display: none !important