.cf-article-avatar
  .img-alt
    display: none

#cf-state
#cf-more
.cf-article
  background: linear-gradient(90deg, #ffd7e4 0%, #c8f1ff 100%) !important
  border-style: groove

[data-theme="dark"]
  #cf-state
  #cf-more
  .cf-article
    background: linear-gradient(90deg, #2c0c16 0%, #043749 100%) !important