#footer
  padding-bottom: 2.5rem
  .wordcount
    text-align: center
    font-family: 'Noto Serif SC', -apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,serif
    font-size: large
    padding: 2rem 0 0 0
  .footer-content
    padding: 2rem 0 0 0
    text-align: center
    a
      color: var(--font-color)
      font-size: 1rem
  .statistics
    padding-top: 0.6rem
    display: flex
    flex-direction: column
    justify-content: center
    font-family: 'Noto Serif SC', -apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,serif
    font-size: 0.6rem
    #site_pv
      display: inline
      text-align: center
    #site_uv
      display: inline
      text-align: center
