#mainbody
  display: flex
  #post
    background: none
    box-shadow: none
    &:hover
      box-shadow: none
  #content_leftside
    flex: 1
    width: fill-available
    width: -webkit-fill-available
    display: flex
    flex-direction: row-reverse
    #left_menu
      top: -1rem
      opacity: 0
      pointer-events: none
      transition: all 0.3s ease-in-out
      position: fixed
      display: flex
      height: 100%
      width: 1.5rem
      padding: 0.5rem
      margin: 0 auto
      flex-direction: column
      justify-content: center
      align-items: center
      translate: -0.7rem 0
      i
        color: #000
      .leftside-social
        text-align: center
        opacity: 0.7
        width: 1.5rem
        margin: 0.4rem
        transition: all 0.5s
        .fa-fw
          margin: 0.5rem 0
          transition: all 0.3s
          transform: scale(1.3)
        &:hover
          opacity: 1
      .leftside-contents
      .leftside-comment
      .leftside-qq
      .leftside-rmb
        text-align: center
        margin-bottom: 0.25rem
        opacity: 0.7
        width: 1.5rem
        height: 1.5rem
        font-weight: bold
        transition: all 0.5s
        a
          font-weight: bolder
        .fas
          margin: 0.5rem 0
          width: 1.25em
        .fas::hover
          transform: scale(1.3)
        &:hover
          opacity: 1
      .leftside-contents
        border-radius: 1rem
        box-shadow: 0 0 5px #000
        margin-bottom: 0.5rem
    #left_display
      // box-shadow: 0 0 5px #000
      width: inherit
      height: 100%
      margin-right: 3rem
      display: flex
      align-items: center
      position: fixed
      top: -0.62rem
      flex-direction: row-reverse
      .candy_qrcode
        transition: all 0.3s ease-in-out
        opacity: 0
        pointer-events: none
        max-width: 9rem
        width: 100%


  #content_rightside
    flex: 1
    width: fill-available
    width: -webkit-fill-available
    display: flex
    flex-direction: row
    #rightside-toc
      top: -1rem
      opacity: 0
      pointer-events: none
      transition: all 0.3s ease-in-out
      position: fixed
      display: flex
      height: 100%
      width: inherit
      padding: 0.5rem
      flex-direction: row
      align-items: center

      .item-headline
        font-size: 1rem
        font-weight: bold
        display: flex
        flex-direction: column
        span
          margin-left: 0.5rem
      span.toc-text
        color: #000
      .toc-box
        height: 10rem
        width: 100%
        // box-shadow: 0 0 5px #000
        overflow: hidden
      .toc-content
        translate: 0 4.25rem
        transition: all 0.5s
        // height: 100%
      ol
        padding: 0
        margin: 0        
        list-style-type: none
      li::marker
        content: none
      li::before
        float: left
        // counter-increment: section
        // content: counters(section,".") " "
      .toc
        font-weight: bold
        width: 100%
        height: inherit
        overflow-y: scroll
        overflow-x: hidden
        // height: 10rem
        margin-top: 0.1rem
        // padding-left: 0
        list-style-type: none
        .toc-child
          // padding: 0
          list-style-type: none
      .toc::-webkit-scrollbar
        width: 0 !important
      .toc-link
        line-height: 1.5rem
        max-height: 1.5rem
        white-space: nowrap
        display: block
        // border-left: 0.1rem solid transparent
        color: var(--btn-bg)
        transition: all 0.5s
        padding-left: 0.5rem
        span.toc-text
          text-overflow: ellipsis
          color: #000
        &:hover span.toc-text
          color: #000
        &.active
          transform: scale(1.3)
          transform-origin: 2.5rem 0.75rem
          font-weight: bolder
      .toc-item
        transition: all 0.5s ease-in-out
        opacity: 0.5
        // 目录缩进结构
        &.toc-level-1
          &:before
            content: " "
            margin: 0.65rem 0.4rem 0.65rem 0
            width: 1rem
            height: 0.2rem
            border-radius: 0.1rem
            background: #000
        &.toc-level-2
          &:before
            content: " "
            margin: 0.65rem 0.7rem 0.65rem 0
            width: 1rem
            height: 0.2rem
            border-radius: 0.1rem
            background: #000
        &.toc-level-3
          &:before
            content: " "
            margin: 0.65rem 1.2rem 0.65rem 0
            width: 0.8rem
            height: 0.2rem
            border-radius: 0.1rem
            background: #000
        &.toc-level-4
        &.toc-level-5
        &.toc-level-6
          &:before
            content: " "
            margin: 0.65rem 1.7rem 0.65rem 0
            width: 0.6rem
            height: 0.2rem
            border-radius: 0.1rem
            background: #000
        

        &.active
          transition: all 0.5s ease-in-out
          opacity: 1
          .toc-child
            display: block
        &:hover
          opacity: 1
    #rightside-button
      position: fixed
      z-index: 101
      display: flex
      bottom: -3rem
      align-items: center
      justify-content: center
      flex-direction: column
      transition: all .5s

      button
        background: var(--card-bg)
        height: 2rem
        width: 2rem
        border-radius: 1rem
        font-size: 0.8rem
        box-shadow: 0 0 5px #000
        margin: 0.25rem 0

[data-theme="dark"]
  #mainbody
    #content_leftside
      a
        &:hover
          color: #a153ff
      #left_menu
        .leftside-contents
          box-shadow: 0 0 5px #fff
        i
          color: #fff
        .leftside-contents span
          color: #fff
      #left_display
        .candy_qrcode
          filter: invert(1)
    #content_rightside
      #rightside-toc
        span.toc-text
          color: #fff
        .toc-link
          color: var(--btn-bg)
          span.toc-text
            color: #fff
          &:hover span.toc-text
            color: #fff
        .toc-item
          // 目录缩进结构
          &.toc-level-1
            &:before
              background: #fff
          &.toc-level-2
            &:before
              background: #fff
          &.toc-level-3
            &:before
              background: #fff
          &.toc-level-4
          &.toc-level-5
          &.toc-level-6
            &:before
              background: #fff

      #rightside-button
        button
          background: var(--card-bg)
          box-shadow: 0 0 5px #fff
          i
            color: #fff

.start
.end 
  font-family: 'Noto Serif SC', -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial, serif
  font-size: large
  font-weight: bolder
  opacity: 0.5

@media screen and (max-width: 1200px)
  #content_leftside
    #left_menu
      display: none !important
  #content_rightside
    #rightside-toc
      display: none !important

@media screen and (max-width: 1100px)
  #mainbody
    display: block
    #content_leftside
      display: none !important
    #content_rightside
      display: none !important